body,
html {
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  height: 100%;
  color: #fff;
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.output
{
  height: 280px;
  font-size: 5em;
  width: 620px;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 15px;
  line-height: 0.9em;
  letter-spacing: -3px;
}
